* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #3e0696;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  gap: 0rem;
  flex-wrap: wrap;
}

/* Left panel */
.welcome-panel {
  padding: 2rem;
 background-color: #6610f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 27rem;
  width: 25rem;
  text-align: center;
}

.welcome-panel img {
  width: 18rem;
}

.welcome-text {
  margin-top: 40px;
    text-align: center;

}

.welcome-text h3 {
  color: #fff;
    text-align: center;

}

.welcome-text h5 {
  color: #fff;
  margin-top: 50px; 
  line-height: 2.0;
   text-align: center;

  
}

/* Login Form */
.form-signin {
  text-align: center;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(173, 20, 20, 0.1);
  height: 27rem;
  width: 27rem
}

.form-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #172c54;
}

.form-label {
  display: block;
  text-align: left;
  font-weight: 500;
  width: 75%;
  margin: 0 auto 0.5rem;
  color: #172c54;
}

.form-control {
  width: 75%;
  margin: 0 auto 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 75%;
  font-size: 1rem;
 background-color: #55acee;
  border: none;
  color: white;
  padding: 0.6rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.submit-btn:hover {
   background-color: #033256;
}

.alert-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  z-index: 9999; 
  color: rgb(255, 0, 0);

}

.flash-message-container {
  max-width: 600px;
  margin: 0 auto;
}

.alert {
  background-color: #f9f9f9;
  border-left: 5px solid #dc3545; /* Red for danger */
}


.social-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.social-btn {
  background-color: #55acee;
  font-size: 12px;
  width: 10.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
    text-align: center;
}

.social-btn:hover {
   background-color: #033256;
}
